{{#tableConstructor}} 
CREATE TABLE IF NOT EXISTS {{name}} (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    {{#tableColumns}}
    {{{name}}} {{{type}}} {{{required}}} {{{unique}}} {{{key}}} {{{constraint}}} {{#needComma}},{{/needComma}}
    {{/tableColumns}}
);       
{{/tableConstructor}}