CREATE TABLE IF NOT EXISTS {{tableNameFirst}}_{{tableNameSecond}} (
    {{colNameFirstLowerCase}}_{{primaryKey}} INTEGER,
    {{colNameSecondLowerCase}}_{{primaryKey}} INTEGER,
    CONSTRAINT PrimaryKey_Constraint PRIMARY KEY ({{colNameFirstLowerCase}}_{{primaryKey}}, {{colNameSecondLowerCase}}_{{primaryKey}}),
    FOREIGN KEY ({{colNameFirstLowerCase}}_{{primaryKey}}) REFERENCES {{tableNameFirst}}({{primaryKey}}),
    FOREIGN KEY ({{colNameSecondLowerCase}}_{{primaryKey}}) REFERENCES {{tableNameSecond}}({{primaryKey}})
);