const database = require('../Database/sqlite-wrapper')('./Publish/Database/{{dbname}}')
const schema{{classTitle}} = require('../Schemas/Schema-{{classTitle}}.json');
const jsf = require('json-schema-faker');
const faker = require('faker');
jsf.extend('faker', () => { return faker });

class {{classTitle}} {
        constructor ({{constructorArguments}}, id) {        
        {{#classConstructor}} 
        this.{{name}} = {{name}};        
        {{/classConstructor}}      
        {{#classEnumerables}}        
        Object.defineProperty(this,"{{name}}", { enumerable: false});
        {{/classEnumerables}}    
        Object.defineProperty(this, "{{primaryKey}}", {enumerable: false, writable: true})
        {{#classRelationProperties}}
        Object.defineProperty(this, "{{lwrName}}_id", {enumerable: false, writable: true});
        this.{{lwrName}}_id = {{lwrName}}_id;
        {{/classRelationProperties}}
        this.id = id;
        }
        

        static create() {
                return Object.assign(new {{classTitle}}(), jsf.generate(schema{{classTitle}}));
        }

        static all(callback) {
                database.where("SELECT * FROM {{table}}", [], {{classTitle}}, callback);
        }

        static get(id, callback) {
                database.get("SELECT * FROM {{table}} WHERE id = ?", [id], {{classTitle}}, callback);
        }

        static delete(id, callback) {
                database.run("DELETE FROM {{table}} WHERE id = ?", [id], callback);
        }

        static top(property,order,limit,callback) {    
                database.where(`SELECT * FROM {{table}} ORDER BY ${property} ${order} LIMIT ${limit}`, [], {{table}}, callback);
        }

        static many(model, id, callback) {
                let tablename = "{{table}}".localeCompare(model) === -1 ? "{{table}}_" + model : model + "_{{table}}";
                let lwrModel = `${model}`.toLowerCase();
                database.where(`SELECT {{table}}.*
                                FROM {{table}}
                                INNER JOIN ${tablename} ON ${tablename}.{{lwrTable}}_id = {{table}}.id
                                WHERE ${tablename}.${lwrModel}_id = ?`, [id], {{classTitle}}, callback);
        }

        async save(callback) {
                let self = this;
                let selfID = parseInt(this.id);
                if(this.id) {
                        {{#relationMultiples}}
                        let tablename{{firstCapName}} = "{{table}}".localeCompare("{{firstCapName}}") === -1 ? "{{table}}_" + "{{firstCapName}}" : "{{firstCapName}}" + "_{{table}}";
                                database.run(`DELETE FROM ${tablename{{firstCapName}}} WHERE "{{table}}_id" = ?`, [selfID], undefined, undefined, function () {
                                        self.{{lwrName}}_id.forEach(foreign => {
                                                let lwrForeign = '{{table}}'.toLowerCase();
                                                database.run(`INSERT INTO ${tablename{{firstCapName}}} (${lwrForeign}_id,`+'{{firstCapName}}'.toLowerCase()+'_id) VALUES(?,?)', [selfID,foreign]);
                                        });
                        });
                        {{/relationMultiples}}
                        database.run("UPDATE {{table}} SET {{{updateValuesParams}}} WHERE id = ?", [{{propertiesJoinThis}}, this.id], callback);
                }
                else {
                        database.run("INSERT INTO {{table}} ({{columns}}) VALUES({{insertValuesParams}})", [{{propertiesJoinThis}}], callback, this, function() {
                                {{#relationMultiples}}
                                let tablename{{firstCapName}} = "{{table}}".localeCompare("{{firstCapName}}") === -1 ? "{{table}}_" + "{{firstCapName}}" : "{{firstCapName}}" + "_{{table}}";
                                if (self.{{lwrName}}_id) {
                                        self.{{lwrName}}_id.forEach(foreign => {
                                                database.run(`INSERT INTO ${tablename{{firstCapName}}} ("{{table}}_id", "{{firstCapName}}_id") VALUES(?,?)`, [self.id, foreign]);
                                        });
                                }
                                {{/relationMultiples}}
                        });
                        
                }
        }
}

module.exports = {{classTitle}};