const express = require('express');
var router = express.Router();
const configServer = require('../../server/config.json');

{{#importModels}}
var {{name}} = require('../Models/{{name}}');
{{/importModels}}

router.get('/', async function (req, res) {
    let models = []
    {{#models}}
    {{model}}.top("{{property}}", "{{order}}", {{limit}}, function (rows) {
        models.push(
            {
                rows: rows.map(obj => {
                    return {
                        properties: Object.keys(obj).map(key => {
                            return {
                                name: key,value:obj[key] 
                            } 
                        }) 
                    } 
                }),
                columns: Object.keys(new {{model}}()).map(key => {
                    return {
                        name: key
                    }; 
                })
            }
        ); 
    });
    {{/models}}
    // lazy way of having the results
    await sleep(100);
    let view = {
        model: models,
        schemas: configServer.schemas.map(s => {
                return {
                    name: s.name,
                    href: '/backoffice/' + s.name
                }
            })
    }
    console.log(view);
    res.render('home', view);
});

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

module.exports = router;