const express = require("express");
const bodyParser = require("body-parser");
const api = require("../Publish/Controllers/api");
const backoffice = require("../Publish/Controllers/backoffice");
const frontoffice = require("../Publish/Controllers/frontoffice");
const mustacheExpress = require("mustache-express");

var app = express();

app.use(express.static(__dirname + "/Public"));

app.engine('mustache', mustacheExpress());
app.set('view engine', 'mustache');
app.set('views', __dirname + '/views');

app.use(bodyParser.json());
app.use('/api', api);
app.use('/backoffice', backoffice);
app.use('', frontoffice);

var server = app.listen({{port}},function () {
    var host = server.address().address === "::" ? "localhost" : server.address().address
    var port = server.address().port
    console.log("Example app listening at http://%s:%s", host, port)
});