*{
  margin: 1%;
}

html, body{
  margin: 0% !important;
}

form{
  background-color: #8092aa;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 100%;
}

/*directly inside form*/
#schema{
  font-size: 40px;
  grid-row-start: 1;
  grid-row-end: 1;
}

#prop-camp{
  background-color: rgb(99, 115, 132);
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: 30% 50% 20%;
  grid-template-columns: 100%;
}

#btn-lock{
  grid-row-start: 3;
  grid-row-end: 3;
  width: 8%;
  height: 50%;
  border-radius: 2px;
}

/*directly inside prop-camp*/
.prop-add{
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 1% 2%; 
  align-items: center;
}

.camp{
  background-color: #869ab5;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 10% 20% 40%;
}

#req-div{
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1% 2%;
}

/*directly inside req-div*/
#btn-req{
  grid-row-start: 1;
  grid-row-end: 1;
}

#req-label{
  grid-column-start: 2;
  grid-column-end: 2;
}

/*directly inside prop-add*/
#prop{
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 1;
}

.btn-add{
  grid-column-start: 3;
  grid-column-end: 3;
  height: 90%;
  border-radius: 2px;
  padding: 0% !important;
  font-size: 20px;
}

/*directly inside camp*/
#tittle-div{
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 100%;
  padding: 1%;
}

#type-div{
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 100%;
  padding: 1%;
}

#desc-div{
  grid-column-start: 3;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 100%;
  padding: 1%;
}

#rest-div{
  grid-column-start: 4;
  grid-column-end: 4;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 30%;
}

/*directly inside tittle-div*/
#tittle{
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 1% 1% 2% 1% !important;
}

#id{
  grid-row-start: 2;
  grid-row-end: 2;
}

/*directly inside type-div*/
#type{
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 1% 1% 2% 1% !important;
}

#type-drop{
  grid-row-start: 2;
  grid-row-end: 2;
}

/*directly inside desc-div*/
#desc-label{
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 1% 1% 2% 1% !important;
}

#description{
  grid-row-start: 2;
  grid-row-end: 2;
  resize: none;
  height: 100%;
}

/*directly inside rest-div*/
#rest-drop-div{
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 100%;

}

#rest-list{
  grid-column-start: 2;
  grid-column-end: 2;
  list-style-type: circle;
  margin: 0% !important;
}

/*directly inside rest-drop-div*/
#restrictions{
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 1% 1% 2% 1% !important;
}

#rest-drop{
  grid-row-start: 2;
  grid-row-end: 2;
}

/*DROPDOWN BUTTONS*/
.dropbtn {
  background-color: rgb(97, 124, 157);
  color: black;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0% !important;
  text-align: left
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0% !important;
}
  
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #bbc7d5;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(81, 107, 138);
}