#relacoes-schemas{
    background-color: rgb(168, 185, 199);
    padding: 1%;
    display: grid;
    grid-template-rows: 20% 60% 10%;
    grid-template-columns: 100%;
}

/*dentro de relacoes-schemas*/
#schemas{
    grid-row-start: 1;
    grid-row-end: 1;
}

#relacoes{
    background-color: rgb(145, 162, 177);
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 1%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 30%;
}

#gerar{
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: start;
    align-self: end;
    margin-top: 1%;
}

/*dentro de schemas*/
h1{
    margin-top: 0% !important;
}

#schemas-ul{
    margin: 0% 1% 1% 1%;
}

/*dentro de relacoes*/
#definir-relacoes{
    grid-column-start: 1;
    grid-column-end: 1;
}

#relacoes-definidas{
    grid-column-start: 2;
    grid-column-end: 2;
}

/*dentro de relacoes-definidas*/
#relacoes-definidas-ul{
    margin: 0% !important;
    padding: 0% !important;
}