body {
    background-color: {{backgroundColor}};
    text-align: {{textAlign}};
    opacity: {{opacity}};
    color: {{color}};
    font-family: "{{fontFamily}}";
}

table, tr, td {
    border: 4px solid {{tableColor}};
}