<html>

<head>
    <link rel="stylesheet" type="text/css" href="/Css/default.css">
    <script>
        {{#hasReferences}} 
        function loadValues(model, values, label, controlId) { 
            var xhr = new XMLHttpRequest(); 
            xhr.open("GET", `../../../api/${model}/${values}`, true); 
            console.log(`../../../api/${model}/${values}`);
            xhr.onreadystatechange = function () { 
                if (xhr.readyState === 4 && xhr.status === 200) { 
                    var control = document.getElementById(controlId); 
                    var response = JSON.parse(this.responseText); 
                    if (response.constructor === Array) 
                        control.innerHTML = response.map(row => { return row[label] }).join(); 
                    else 
                        control.innerHTML = response[label]; 
                } 
            }                
            xhr.send(); 
        } 
        window.onload = function () {
            {{#references}}
            loadValues('{{model}}', '{{{values}}}', '{{labelRef}}', 'label{{model}}value'); 
            {{/references}}            
        }{{/hasReferences}}
    </script>
</head>

<body>
    {{#properties}}
    <div>
        <label>{{name}}:</label>
        {{#image}}<img src="{{value}}" width="128" height="128"/>{{/image}}
        {{#video}}<iframe src="{{value}}"></iframe>{{/video}}
        {{#text}}<label>{{{value}}}</label>{{/text}}
    </div>
    {{/properties}}
    {{#references}}
        <label>{{model}}:</label>
        <label id="label{{model}}value"></label>        
    {{/references}}
</body>

</html>