<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Css/default.css">
        <script>
            {{#hasReferences}}            
            function loadValues(model, label, controlId, isManyToMany, values){
                var xhr = new XMLHttpRequest();             
                xhr.open("GET", `../../../api/${model}`, true);              
                xhr.onreadystatechange = function () {                  
                    if(xhr.readyState === 4 && xhr.status === 200) {    
                        let data = JSON.parse(xhr.responseText);
                        var control = document.getElementById(controlId);                                              
                        if(isManyToMany){                               
                            data.forEach(row => {
                                var lbl = document.createElement("label");
                                lbl.innerHTML = row[label];
                                var check = document.createElement("input");
                                check.type = "checkbox";
                                check.name = model.toLowerCase()+"_id";
                                check.id = model.toLowerCase()+"_id";      
                                check.value = row.id;
                                control.append(lbl);                        
                                control.appendChild(check);
                            });                   
                        }
                        else{                            
                            var select = document.createElement("select");
                            select.name = model.toLowerCase()+"_id"+"select";
                            select.id = model.toLowerCase()+"_id"+"select";
                            data.forEach(row => {
                                var option = document.createElement("option");        
                                option.text = row[label];        
                                option.value = row.id;                               
                                select.add(option);
                            });
                            control.appendChild(select);                         
                        }
                        var editxhr = new XMLHttpRequest();             
                        editxhr.open("GET", `../../../api/${model}/${values}`, true);             
                        editxhr.onreadystatechange = function () {
                            if(editxhr.readyState === 4 && editxhr.status === 200) {
                                let editData = JSON.parse(editxhr.responseText);
                                let controlDiv = document.getElementById(controlId);  
                                let modelID = `${model}`.toLowerCase() + "_id";
                                for (var p of controlDiv.children) {
                                    if(p.type === "checkbox") {
                                        editData.forEach(d => {
                                            if(p.id === modelID && p.value == d.id) {
                                                p.checked = true;
                                            }
                                        })
                                    }
                                    if(p.id === model.toLowerCase()+"_id"+"select") {
                                        let index = 0;
                                        selectedIndex = 0;
                                        for(let op of p) {
                                            if(op.value == editData.id) {
                                                selectedIndex = index;
                                            }
                                            index++;
                                        }
                                        p.selectedIndex = selectedIndex;
                                    }
                                    
                                }
                            }
                        }    
                        editxhr.send();               
                    }               
                }                
                xhr.send();            
            }

            {{/hasReferences}}            
            window.onload = function() {
                {{#references}}                    
                loadValues('{{model}}','{{labelRef}}','div{{model}}value',{{isManyToMany}}, '{{{values}}}');
                {{/references}}            
            }

            function ajaxPut() {
                let xhr = new XMLHttpRequest();
                xhr.open("PUT", `../../../api/{{model}}/{{id}}`, true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
                let myForm = document.getElementById('editForm');
                let form = new FormData(myForm);
                let obj = new Object();
                let foreign = [];
                var nameSet = new Set();
                for (var p of form) {
                    let input = document.getElementById(p[0]);
                    let value;
                    value = input.value;
                    if (input.type === "checkbox") {
                        nameSet.add(input.name);
                    }
                    else if (input.type === "number") {
                        obj[p[0]] = parseInt(input.value);
                    }
                    else {
                        obj[p[0]] = value;
                    }
                }
                nameSet.forEach(s => {
                    let allInput = document.getElementsByName(s);
                    allInput.forEach(input => {
                        if (input.type === "checkbox") {
                            if (input.checked) {
                                checkValue = parseInt(input.value);
                                foreign.push({
                                    value: checkValue,
                                    name: s
                                });
                            }
                        }
                    });
                });
                if (foreign.length > 0) {
                    foreign.forEach(f => {
                        if(obj[f.name] && obj[f.name]) {
                            obj[f.name].push(f.value);
                        } else {
                            obj[f.name] = []
                            obj[f.name].push(f.value)
                        }
                    });
                }
                let data = JSON.stringify(obj);
                xhr.onreadystatechange = function () {                  
                    if(xhr.readyState === 4 && xhr.status === 200) {    
                        console.log(JSON.parse(xhr.responseText));
                        //window.history.back();
                        //location.reload();
                    }               
                }                
                xhr.send(data);   
            }
        </script>
    </head>
    <body>        
        <form onsubmit="ajaxPut(); return false;" method="PUT" id="editForm">        
            {{#properties}}        
            <div>            
                <label>{{name}}:</label>            
                <input type={{type}} name="{{name}}" id="{{name}}" {{#constraints}} {{name}}="{{constValue}}" {{/constraints}} {{#required}}required{{/required}} value="{{value}}"></input>        
            </div>        
            {{/properties}}
            {{#references}}    
            <label>{{model}}:</label>    
            <div id="div{{model}}value"></div>
            {{/references}}
            <input type="submit" value="Save"/> 
        </form>   
    </body>
</html>