<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/Css/default.css">
</head>

<body>
    {{>menu}}
    <h1>Use the menu above to browse the models</h1>
    <table>
        {{#model}}
        <tr>            
        {{#columns}}
        <th>{{name}}</th>            
        {{/columns}}
        </tr>            
        {{#rows}}
        <tr>                
            {{#properties}}
            <td>                    
                {{value}}
            </td>                
            {{/properties}}
        </tr>            
        {{/rows}}
        {{/model}}
    </table>
</body>

</html>