<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/Css/default.css">
        <script>
            {{#hasReferences}}            
            function loadValues(model, label, controlId, isManyToMany){
                var xhr = new XMLHttpRequest();             
                xhr.open("GET", `../../../api/${model}`, true);              
                xhr.onreadystatechange = function () {                  
                    if(xhr.readyState === 4 && xhr.status === 200) {    
                        let data = JSON.parse(xhr.responseText);
                        var control = document.getElementById(controlId);                                              
                        if(isManyToMany){                               
                            data.forEach(row => {
                                var lbl = document.createElement("label");
                                lbl.innerHTML = row[label];
                                var check = document.createElement("input");
                                check.type = "checkbox";
                                check.name = model.toLowerCase()+"_id";
                                check.id = model.toLowerCase()+"_id";      
                                check.value = row.id;
                                control.append(lbl);                        
                                control.appendChild(check);
                            });                   
                        }
                        else{                            
                            var select = document.createElement("select");
                            select.name = model.toLowerCase()+"_id";
                            select.id = model.toLowerCase()+"_id";
                            data.forEach(row => {
                                var option = document.createElement("option");        
                                option.text = row[label];        
                                option.value = row.id;                                
                                select.add(option);
                            });
                            control.appendChild(select);                         
                        }                    
                    }               
                }                
                xhr.send();            
            }

            {{/hasReferences}}            
            window.onload = function() {
                {{#references}}                    
                loadValues('{{model}}','{{labelRef}}','div{{model}}value',{{isManyToMany}});
                {{/references}}            
            }

            function ajaxPost() {
                let xhr = new XMLHttpRequest();
                xhr.open("POST", `../../../api/{{modelName}}`, true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8"); 
                let myForm = document.getElementById('submitForm');
                let form = new FormData(myForm);
                let obj = new Object();
                let foreign = [];
                var nameSet = new Set();
                for (var p of form) {
                    let input = document.getElementById(p[0]);
                    let value;
                    value = input.value;
                    if (input.type === "checkbox") {
                        nameSet.add(input.name);
                    }
                    else {
                        obj[p[0]] = value;
                    }
                }
                nameSet.forEach(s => {
                    let allInput = document.getElementsByName(s);
                    allInput.forEach(input => {
                        if (input.type === "checkbox") {
                            if (input.checked) {
                                console.log(input.value)
                                checkValue = parseInt(input.value);
                                foreign.push({
                                    value: checkValue,
                                    name: s
                                });
                            }
                        }
                    });
                });
                if (foreign.length > 0) {
                    foreign.forEach(f => {
                        if(obj[f.name]) {
                            obj[f.name].push(f.value);
                        } else {
                            obj[f.name] = []
                            obj[f.name].push(f.value)
                        }
                    });
                }
                let data = JSON.stringify(obj);
                xhr.onreadystatechange = function () {                  
                    if(xhr.readyState === 4 && xhr.status === 200) {    
                        console.log(JSON.parse(xhr.responseText));
                    }               
                }                
                xhr.send(data);   
            }
        </script>
    </head>
    <body>        
        <form onsubmit="ajaxPost(); return false;" method="POST" id="submitForm">        
            {{#properties}}        
            <div>            
                <label>{{name}}:</label>            
                <input type={{type}} name="{{name}}" id="{{name}}"{{#constraints}} {{name}}="{{constValue}}" {{/constraints}} {{#required}}required{{/required}}></input>        
            </div>        
            {{/properties}}
            {{#references}}    
            <label>{{model}}:</label>    
            <div id="div{{model}}value"></div>
            {{/references}}
            <input type="submit" value="Save"/> 
        </form>   
    </body>
</html>