<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/Css/default.css">
    <script>
        function remove(id) {
            var request = new XMLHttpRequest();
            request.open("DELETE", '/api/{{title}}/' + id);
            request.onreadystatechange = function () {
                if ((this.readyState === 4) && (this.status === 200)) {
                    //através de DOM apagar linha
                    let row = document.getElementById("row"+id);
                    row.remove();
                }
            }    
            request.send();
        }
        function search(input) {
            var filterText = input.value.toUpperCase();
            var table = document.getElementById("table");
            var tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td")[0]; 
                //deverão alterar esta função para percorrer todos os TD que vos interessae não apenas o 1º
                if (td) {
                    var txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filterText) > -1) {        
                        tr[i].style.display = "";      
                    } else {        
                        tr[i].style.display = "none";      
                    }    
                }         
            }
        }
    </script>
</head>

<body>
    {{>menu}}
    <input type="text" id="inputSearch" onkeyup="search(this)" placeholder="Search for...">
    <table id="table">     
        <tr>
            {{#columns}}
            <th>{{.}}</th>
            {{/columns}}
        </tr>
        {{#rows}}
        <tr id="row{{id}}">
            {{#properties}}
            <td>
                {{.}}
            </td>
            {{/properties}}
            {{#actions}}
            <td> <a href="{{link}}" title="{{tooltip}}" {{#events}} {{name}}="javascript:{{function}}({{args}})"
                    {{/events}}>
                    {{#image}}
                    <img src="{{src}}" alt="{{alt}}" />
                    {{/image}}
                </a> </td>
            {{/actions}}
        </tr>
        {{/rows}}
        <tr>
            <td> <a href="{{title}}/Insert">Insert</a>
            </td>
        </tr>
    </table>
</body>

</html>