const express = require('express');
const router = express.Router();

{{#importModels}}
var {{name}} = require('../Models/{{name}}');
{{/importModels}}

{{#functionModels}}
router.post('/{{name}}', function (req, res) { 
    let obj = Object.assign(new {{name}}(), req.body);
    obj.save(msg  => {
        res.json(msg);
    });
});

router.get('/{{name}}', function (req, res) {
    {{name}}.all(function (rows) {
        res.send(JSON.stringify(rows, Object.keys(new {{name}}()).concat(["id"])));
    });
});

router.get('/{{name}}/:id', function (req, res) {
    {{name}}.get(req.params.id, rows => {
        if(rows) {
            res.send(JSON.stringify(rows, Object.keys(new {{name}}()).concat(["id"])));
        }
        else {
            res.json({err: 'no rows found'});
        }
    });
});

router.get('/{{name}}/:model/:id', function (req, res) {    
    {{name}}.many(req.params.model, req.params.id, rows => res.send((JSON.stringify(rows, Object.keys(new {{name}}()).concat(["id"])))));
});

router.put('/{{name}}/:id', function (req, res) {
    {{name}}.get(req.params.id, rows => {
        if(rows) {
            let obj = Object.assign(new {{name}}(), req.body);
            obj.id = req.params.id;
            obj.save(msg => res.json(msg));
        }
        else {
            res.json({err: 'no rows found'});
        }
    });
    
});

router.delete('/{{name}}/:id', function (req, res) {
    {{name}}.delete(req.params.id, msg => res.json(msg));
});

{{/functionModels}}

module.exports = router