const express = require('express');
var router = express.Router();

{{#importModels}}
var {{name}} = require('../Models/{{name}}');
var schema{{name}} = require('../Schemas/Schema-{{name}}.json');
var configServer = require('../../server/config.json');
{{/importModels}}

{{#routerModels}}
router.get('/{{name}}', (req, res) => {
    {{name}}.all((rows) => {
        res.render('list', {
            title: '{{name}}',
            columns: Object.keys(new {{name}}()),
            rows: rows.map(r => {
                return {
                    id: r.id,
                    properties: Object.keys(r).map(key => r[key]),
                    actions: [{    
                            link: './{{name}}/Details/' + r.id,    
                            image: { 
                                src:  '../../Images/read.png', 
                                alt: 'read' 
                                },    
                            tooltip: 'Details'
                            }, 
                            {    
                            link: './{{name}}/Edit/' + r.id,    
                            image: { 
                                src: '../../Images/edit.png', 
                                alt: 'edit' 
                            },    
                            tooltip: 'Edit'
                            }, 
                            {
                            link: '#',    
                            image: { 
                                src: '../../Images/delete.png', 
                                alt: 'delete'
                            },    
                            tooltip: 'Delete',    
                            events: [{        
                                name: "onclick",        
                                function: "remove",        
                                args: r.id    
                                }]
                            }
                    ]
                }      
            }),
            schemas: configServer.schemas.map(s => {
                return {
                    name: s.name,
                    href: '/backoffice/' + s.name
                }
            })
        });
    });
});

router.get('/{{name}}/Details/:id', (req, res) => {
    {{name}}.get(req.params.id, (row) => {
        res.render('details', {
            properties: function() {
                let allProps = Object.getOwnPropertyNames(row);
                let validProps = allProps.filter((prop) => {
                    return schema{{name}}.properties.hasOwnProperty(prop);
                }).map((filteredProp) => {
                    return {
                        name: filteredProp,
                        image: schema{{name}}.properties[filteredProp].presentationMode === "image" ? {value: row[filteredProp]} : false,
                        video: schema{{name}}.properties[filteredProp].presentationMode === "video" ? {value: row[filteredProp]} : false,
                        text: schema{{name}}.properties[filteredProp].presentationMode !== "image" && schema{{name}}.properties[filteredProp].presentationMode !== "video" ? {value: row[filteredProp]} : false
                    }
                });
            return validProps;
            },
            references: function () {
                var allRefs = [];
                if (schema{{name}}.references) {
                    schema{{name}}.references.forEach(function (ref) {
                        allRefs.push({
                            labelRef: ref.label,
                            model: ref.model,
                            values: ref.relation === "M-M" ?  '{{name}}/' +req.params.id : row[(ref.model + "_id").toLowerCase()]                
                        });                        
                    });                    
                }
                return allRefs;            
            },
            get hasReferences() {
                return this.references().length > 0;
            }
        });
    });
});

// mudar para que emails, urls ou outros tipos de input sejam reconhecidos, lendo um tipo de prop no schema added
// adicionar tambem novos constraints que possam existir no inputs
router.get('/{{name}}/Insert', (req, res) => {
    res.render('insert', {
        properties: function() {
            let allProps = Object.getOwnPropertyNames(new {{name}}());
            let validProps = allProps.filter((prop) => {
                return schema{{name}}.properties.hasOwnProperty(prop);
            }).map((filteredProp) => {
                return {
                    name: filteredProp,
                    type: function () {
                        let types = {
                            integer: "number",
                            number: "number",
                            string: "text",
                            date: "date",
                            blob: "file"
                        }
                        let inputType = types[schema{{name}}.properties[filteredProp].type]
                        return inputType ? inputType : "text";
                    },
                    required: schema{{name}}.required.includes(filteredProp),
                    constraints: function () {
                        let arr = [];
                        let types = {
                            minimum: "min",
                            maximum: "max",
                            minLength: "minLength",
                            maxLength: "maxLength"
                        }
                        arr = Object.keys(types).filter(c => {
                            return schema{{name}}.properties[filteredProp][c] !== undefined
                        }).map(m => {
                            return {
                                name: types[m],
                                constValue: schema{{name}}.properties[filteredProp][m]
                            }
                        });
                        return arr
                    }
                }
            });
        return validProps;
        },
        references: function () {
            var allRefs = [];
            if (schema{{name}}.references) {
                schema{{name}}.references.forEach(function (ref) {
                    allRefs.push({
                        labelRef: ref.label,
                        model: ref.model,
                        isManyToMany: ref.relation === "M-M"              
                    });                        
                });                    
            }
            return allRefs;            
        },
        get hasReferences() {
            return this.references().length > 0;
        },
        modelName: "{{name}}"
    });
});

router.get('/{{name}}/Edit/:id', (req, res) => {
    {{name}}.get(req.params.id, (row) => {
        res.render('edit', {
            properties: function() {
                let allProps = Object.getOwnPropertyNames(new {{name}}());
                let validProps = allProps.filter((prop) => {
                    return schema{{name}}.properties.hasOwnProperty(prop);
                }).map((filteredProp) => {
                    return {
                        name: filteredProp,
                        type: function () {
                            let types = {
                                integer: "number",
                                number: "number",
                                string: "text",
                                date: "date",
                                blob: "file"
                            }
                            let inputType = types[schema{{name}}.properties[filteredProp].type]
                            return inputType ? inputType : "text";
                        },
                        required: schema{{name}}.required.includes(filteredProp),
                        constraints: function () {
                            let arr = [];
                            let types = {
                                minimum: "min",
                                maximum: "max",
                                minLength: "minLength",
                                maxLength: "maxLength"
                            }
                            arr = Object.keys(types).filter(c => {
                                return schema{{name}}.properties[filteredProp][c] !== undefined
                            }).map(m => {
                                return {
                                    name: types[m],
                                    constValue: schema{{name}}.properties[filteredProp][m]
                                }
                            });
                            return arr
                        },
                        value: row[filteredProp]
                    }
                });
                return validProps;
            },
            references: function () {
                var allRefs = [];
                if (schema{{name}}.references) {
                    schema{{name}}.references.forEach(function (ref) {
                        allRefs.push({
                            labelRef: ref.label,
                            model: ref.model,
                            isManyToMany: ref.relation === "M-M",
                            values: ref.relation === "M-M" ?  '{{name}}/' +req.params.id : row[(ref.model + "_id").toLowerCase()]
                        });                        
                    });                    
                }
                return allRefs;            
            },
            get hasReferences() {
                return this.references().length > 0;
            },
            id: req.params.id,
            model: '{{name}}'
        });
    });
});
{{/routerModels}}

module.exports = router;